aiobotocore==3.9.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aioitertools==0.13.0
aiosignal==1.4.0
asdf==5.4.0
asdf-astropy==0.11.0
asdf_coordinates_schemas==0.5.1
asdf_standard==1.5.0
asdf_transform_schemas==0.6.0
asdf_wcs_schemas==0.5.0
astropy==7.2.2
astropy-iers-data==0.2026.9.21.0.56.25
astropy_healpix==2.0.1
astroquery==0.4.11
attrs==26.1.0
beautifulsoup4==4.15.0
botocore==1.43.75
cachebox==5.2.3
certifi==2026.7.22
charset-normalizer==3.5.1
configobj==5.0.9
contourpy==1.4.0
crds==14.0.1
cycler==0.12.1
deepdiff==9.1.0
defusedxml==0.7.1
drizzle==2.2.0
filelock==4.0.3
fonttools==4.66.0
frozenlist==1.8.0
fsspec==2026.9.0
future==1.0.0
GalSim==2.8.5
gwcs==1.0.3
html5lib==1.1
idna==3.20
ImageIO==2.37.4
importlib_metadata==9.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.5.1
lazy-loader==0.6
LSSTDESC.Coord==1.3.1
lz4==4.4.5
matplotlib==3.11.2
more-itertools==11.1.0
multidict==6.9.1
networkx==3.7
numpy==2.5.3
orderly-set==5.5.0
packaging==26.3
pandas==3.0.6
Parsley==1.3
photutils==3.0.0
pillow==12.3.0
propcache==0.5.4
pyarrow==25.0.1
pybind11==3.1.0
pyerfa==2.0.1.5
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pyvo==1.9.1
PyYAML==6.0.3
rad==1.1.0
referencing==0.37.0
requests==2.34.2
roman_datamodels==1.1.0
romancal==1.1.0
romanisim==0.14.0
rpds-py==2026.6.3
s3fs==2026.9.0
scikit-image==0.26.0
scipy==1.18.1
semantic-version==2.10.0
setuptools==83.0.0
shapely==2.1.2
six==1.17.0
soupsieve==2.10
spherical_geometry==1.4.0
stcal==1.20.0
stpipe==1.1.0
stsci.imagestats==1.8.4
stsci.stimage==0.3.2
tifffile==2026.9.20
tweakwcs==0.9.2
typing_extensions==4.16.0
urllib3==2.8.0
webencodings==0.6.1
wheel==0.47.0
wrapt==2.4.1
yarl==1.25.1
zipp==4.1.0
